@model IEnumerable<TrashCollector2._0.Models.CustomerAccount>



@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tbody>
        Customer
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.StreetAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @using (Html.BeginForm("Daily Pickups", "DailyPickUps", FormMethod.Post))
        {
        @Html.TextBox("DayOfWeek")
        <input type="submit" value="DayOfWeek" class="btn btn-default" />
        }
    </p>

